* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    border: 16px solid black;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: gainsboro;
}

.ahorcado {
    padding: 20px;
    border: 2px solid black;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 40px;
    border: 4px solid black;
    margin-top: 10px;
}

.contenedor span {
    text-align: center;
    font-size: 30px;
    width: 30px;    
}

.contenedor p {
    text-align: center;
    font-size: 30px;
    letter-spacing: 10px;
}

.contenedorInput {
    display: flex;
    margin-top: 10px;
    border: 4px solid black;
    width: 60vw;
    text-align: center;
    padding: 20px;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}

.contenedorInput input {
    width: 200px;
    height: 25px;
    font-size: 25px;
    margin: 0 5px 0 5px;
}

.contenedorInput button {
    width: 150px;
    height: 25px;
    font-size: 20px;
    margin: 0 5px 0 5px;
}

.contenedorReiniciar {
    margin-top: 10px;
    border: 4px solid black;
    width: 60vw;
    text-align: center;
    padding: 20px;
}

.contenedorReiniciar button {
    width: 120px;
    height: 25px;
}

